.form-container {
  display: flex;
  background-color: aqua;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.register-form {
  display: flex;
  background-color: azure;
  flex-direction: column;
  margin: 2px;
  border: 2px;
  padding: 5px;
}

.form-field {
  margin: 5px;
  padding: 3px;
}
